[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
python-telegram-bot = "*"
dynaconf = "*"
dj-database-url = "*"
psycopg2 = "*"
pillow = "*"
whitenoise = "*"
gunicorn = "*"
django-heroku = "*"

[dev-packages]
black = "==20.8b1"

[requires]
python_version = "3.8"
