<nav class="navbar fixed-top navbar-light bg-light navigation">
    <a class="navbar-brand" href="#">
        <img src="/docs/4.0/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top"
             alt="">
        Bootstrap
    </a>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="#">Features</a>
                <a class="nav-item nav-link" href="#">Pricing</a>
                <a class="nav-item nav-link" href="/confirmation/">Confirm order</a>
            </div>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <div class="basket-container">
                    <a href="">Order<span id="basket_total_nmb">
                        {% if total_nmb %}
                            ({{ total_nmb }})
                            {% else %}
                            (0)
                        {% endif %}
                    </span></a>
                    <div class="basket-items d-none">
                        <ul class="">
                            {% for product in basket_products %}
                                <li>{{ product.product.product_name }}
                                    {{ product.product.product_price }} BYN
                                    <a class="delete-item" href="" data-product_id="{{ product.id }}">  x</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </li>

        </ul>
    </nav>
</nav>