{% extends "__base.html" %}
{% load static %}

{% block title %}HomePage{% endblock %}

{% block body %}
    <div class="section">
        <a name="pictures"></a>
    <H1 align="center">Pictures</H1>
        <div class="container">
  <div class="row">
    {% for obj in object_list %}
        {% if obj.product.product_type == "P" %}
        <div class="col-sm-4">
        <div class="product-item">
            <div>
                <img src="{{ obj.image.url }}" class="img-responsive">
            </div>
            <h4><a href="{{ obj.get_absolute_url }}">{{ obj.product.product_name }}</a></h4>
            <p>{{ obj.product.product_description|truncatechars_html:20 }}</p>
            <div>
                <p>{{ obj.product.product_price }} USD</p>
            </div>

            <div class="product-button">
                <button class="btn btn-success" >
                    Оформить заказ
                </button>
            </div>
        </div>
    </div>
        {% endif %}
    {% endfor %}
  </div>
</div>
    <div class="section">
    <a name="logos"></a>
     <H1 align="center">Logos</H1>
        <div class="container">
  <div class="row">
    {% for obj in object_list %}
        {% if obj.product.product_type == "L" %}
        <div class="col-sm-4">
        <div class="product-item">
            <div>
                <img src="{{ obj.image.url }}" class="img-responsive">
            </div>
            <h4>{{ obj.product.product_name }}</h4>
             <p>{{ obj.product.product_description|truncatechars_html:20 }}</p>
            <div>
                <p>{{ obj.product.product_price }} USD</p>
            </div>
            <div class="product-button">
                <button class="btn btn-success">
                    Оформить заказ
                </button>
            </div>
        </div>
    </div>
        {% endif %}
    {% endfor %}
  </div>
</div>
    </div>
{% endblock %}