{% extends "__base.html" %}
{% block title %}Order History{% endblock %}
{% block body %}
    <h1 align="center">Order history</h1>
    <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">Date</th>
    </tr>
  </thead>
                   {% for obj in object_list %}
 <table class="table table-striped">
  <tbody>
    <tr>
      <td>{{ obj.product.product_name }}</td>
      <td>{{ obj.price }} BYN</td>
      <td>{{ obj.created }}</td>
    </tr>
  </tbody>
</table>
                   {% endfor %}
{% endblock %}